<!DOCTYPE html>
<html>
<head>
    <title>HTML 5</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/Content/general.css" />
    <link rel="stylesheet" type="text/css" href="/Content/navbar.css" />
</head>
<body>
    <header>
        <h1>Разработка WEB-приложений</h1>
    </header>
    <nav>
        <ul class="navbar">
            <li class="current">
                <a href="~/Home/General">Главная</a></li>
            <li><a href="~/Home/Safari">Safari</a></li>
            <li><a href="~/Home/Contact">Карта</a></li>
            <li><a href="~/Home/p">Анимация</a></li>
            <li><a href="~/Home/Tar">task 3</a></li>
            <li><a href="/Home/Index">Тараканы</a></li>
            <li><a href="/Home/Manage">Управление</a></li>
        </ul>
    </nav>
    <section>
        <article>
            <div class="row">
                <div class="col-md-4">
                    <h2>Домашнее задание №1</h2>
                    <p>Доклад о браузере Safari</p>
                    <p><a class="btn btn-default" href="https://github.com/ikekcuk/WEB/blob/master/Safari.html">Посмотреть на GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №2</h2>
                    <p>HTML страница с кнопкой</p>
                    <p><a class="btn btn-default" href="https://github.com/ikekcuk/WEB/blob/master/FirstPageVer2.html">Посмотреть на GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №3</h2>
                    <p>Проект ASP.Net + страница с кнопкой</p>
                    <p><a class="btn btn-default" href="https://github.com/ikekcuk/WEB/tree/master/Web">Посмотреть на GitHub </a></p>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article>
            <div class="row">
                <div class="col-md-4">
                    <h2>Домашнее задание №4</h2>
                    <p>Анимация смены дня и ночи</p>
                    <p><a class="btn btn-default" href="https://github.com/ikekcuk/WEB/tree/master/JS%20Пейзаж%20%2B%20Смена%20дня%20и%20ночи">Посмотреть на GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №5</h2>
                    <p>Task 3</p>
                    <p><a class="btn btn-default" href="https://github.com/ikekcuk/WEB/tree/master/Task3">Посмотреть на GitHub </a></p>
                </div>
                <div class="col-md-4">
                    <h2>Домашнее задание №6</h2>
                    <p>Task 4</p>
                    <p><a class="btn btn-default" href="">Посмотреть на GitHub </a></p>
                </div>
            </div>
        </article>
    </section>
    <aside>Эта новость опубликована<br /> <time datetime="2015-04-22">04 июня 2015 года</time></aside>
    <div>
        <footer>
            <p>Copyright <a href="https://github.com/ikekcuk"> Посмотреть на GitHub </a></p>
        </footer>
    </div>
</body>
</html>
